---
layout: default
---


<div class="category-page">

<div class="header-actions">
  <h3 class="mono-space">Feminismo consciente <span>({{ site.categories.feminismo-consciente | size }})</span></h3>
  {% include mixitup-controls.html color-class='black' %}
</div>

<div class="home-post" style="width: 100%;">
  <div class="container">
    <div class="fail-message"><span>Estos filtros no dieron resultado.</span></div>
    {% include category-list.html category='feminismo-consciente' %}
    </div>
  </div>
</div>

<aside class="js-menu sliding-panel-content">
  <div class="ui secondary vertical pointing menu">
    <a class="item active" href="/uni/feminismo-consciente/">
      <i class="fa fa-venus-mars"></i>
      Feminismo consciente
    </a>
    <a class="item" href="/uni/espiritualidad/">
      <i class="fa fa-sun-o"></i>
      espiritualidad
    </a>
    <a class="item" href="/uni/contracultura/">
      <i class="fa fa-fire"></i>
      contracultura
    </a>
    <a class="item" href="/uni/psiconautica/">
      <i class="fa fa-compass"></i>
      psiconautica
    </a>
    <a class="item" href="/uni/politica/">
      <i class="fa fa-street-view"></i>
      politica
    </a>
    <a class="item" href="/uni/ciencia/">
      <i class="fa fa-flask"></i>
      ciencia
    </a>
    <a class="item" href="/uni/naturaleza/">
      <i class="fa fa-leaf"></i>
      naturaleza
    </a>
  </div>
  {% include search-form.html %}
</aside>
</div>
