---
layout: search
---

<div class="search-form mono-space">
  <form action="/uni/search" method="get">
    <input type="text" id="search-box" name="query" style="margin-right: 15px;">
    <input class="ui button compact blue" type="submit" value="Buscar">
  </form>
</div>

<ul id="search-results" class="container home-post">
      
</ul>

<aside class="js-menu sliding-panel-content" style="    left: -270px;">
  <div class="ui secondary vertical pointing menu">
    <a class="item" href="/uni/feminismo-consciente/">
      <i class="fa fa-venus-mars"></i>
       Feminismo consciente
    </a>
    <a class="item" href="/uni/espiritualidad/">
      <i class="fa fa-sun-o"></i>
      espiritualidad
    </a>
    <a class="item" href="/uni/contracultura/">
      <i class="fa fa-fire"></i>
      contracultura
    </a>
    <a class="item" href="/uni/psiconautica/">
      <i class="fa fa-compass"></i>
      psiconautica
    </a>
    <a class="item" href="/uni/politica/">
      <i class="fa fa-street-view"></i>
      politica
    </a>
    <a class="item" href="/uni/ciencia/">
      <i class="fa fa-flask"></i>
      ciencia
    </a>
    <a class="item" href="/uni/naturaleza/">
      <i class="fa fa-leaf"></i>
      naturaleza
    </a>
  </div>
  {% include search-form.html %}
  
</aside>

<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "author": "{{ post.author | xml_escape }}",
        "author_url": "{{ post.author_url | xml_escape }}",
        "type": "{{ post.type | xml_escape }}",
        "meta": "{{ post.meta | xml_escape }}",
        "tag": "{{ post.tags | xml_escape }}",
        "date": "{{ post.date | xml_escape }}",
        "element": "{{ post.element | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>
<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>

