---
layout: default
---

<div class="category-page">
<div class="header-actions">
  <h3 class="mono-space">Trama completa <span>({{ site.posts | size }})</span></h3>
   {% include mixitup-controls.html %}
</div>
<div class="home-post">


  <div class="container">
    <div class="fail-message"><span>Estos filtros no dieron resultado.</span></div>
    {% for post in site.posts %}
    <div class="item mix trama-{{post.category}} trama-{{post.type}}" data-published-date="{{ post.date | %Y-%m-%d %H:%M+01:00 }}">
      <div class="content">
        <h3 class="mono-space">
          {{post.category}} / {{post.type}}
        </h3>
        <a href="{{site.baseurl}}{{post.url}}" class="header">
          <span aria-hidden="true" class="post-status"></span>
          {{post.title}} <br>
          <i class="duration">
              {{post.duration}}
              {% if post.type contains 'articulo' %}
                  de lectura
              {% else %}
                  de video
              {% endif %}
          </i>
        </a>
        
        <div class="description">
          {{post.meta}}
        </div>
        <time datetime="{{ post.date | %Y-%m-%d %H:%M+01:00 }}">
          <!-- Whitespace added for readability -->
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
          {% when '1' %}Ene
          {% when '2' %}Feb
          {% when '3' %}Mar
          {% when '4' %}Abr
          {% when '5' %}May
          {% when '6' %}Jun
          {% when '7' %}Jul
          {% when '8' %}Ago
          {% when '9' %}Sep
          {% when '10' %}Oct
          {% when '11' %}Nov
          {% when '12' %}Dic
          {% endcase %}
          {{ post.date | date: "%Y" }}
        </time>
      </div>
    </div>
    {%endfor %}
  </div>
  <aside class="js-menu sliding-panel-content">
    <div class="ui secondary vertical pointing menu">
    <a class="item" href="/uni/feminismo-consciente/">
      <i class="fa fa-venus-mars"></i>
       Feminismo consciente
    </a>
      <a class="item" href="/uni/espiritualidad/">
        <i class="fa fa-sun-o"></i>
        espiritualidad
      </a>
      <a class="item" href="/uni/contracultura/">
        <i class="fa fa-fire"></i>
        contracultura
      </a>
      <a class="item" href="/uni/psiconautica/">
        <i class="fa fa-compass"></i>
        psiconautica
      </a>
      <a class="item" href="/uni/politica/">
        <i class="fa fa-street-view"></i>
        politica
      </a>
      <a class="item" href="/uni/ciencia/">
        <i class="fa fa-flask"></i>
        ciencia
      </a>
      <a class="item" href="/uni/naturaleza/">
        <i class="fa fa-leaf"></i>
        naturaleza
      </a>
    </div>
  {% include search-form.html %}

  </aside>
</div>
</div>

