.post-page {
	width: 100%;
	padding-left: 270px;
	padding-top: 35px;
    padding-bottom: 50px;

    -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);

    @include media($ipad) {
    	padding-left: 0;
    }
}

.post {
    max-width: 760px;
    margin: 1em auto 3em;

    article {
        padding: 0 4em;

        @include media($mobile) {
            padding: 0 2em;
        }
    }

    p {
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -.003em;
        color: #333;
        //text-align: justify;

        @include media($mobile) {
            font-size: 18px;
        }
    }
}

article {
    ol {
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 1.58;
        letter-spacing: -.003em;
        padding: 0;

        @include media($mobile) {
           font-size: 18px;
           line-height: 1.58;
        }
    }

    li {
        margin-bottom: 10px;
    }

    img {
        width: 100%;
    }
}