
<footer class="footer" role="contentinfo">
  <div class="footer-logo">
  {% include logo.html %}
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Explorar tramas</h3></li>
      <li>
        <a href="/uni/feminismo-consciente/">
        <i class="fa fa-female"></i>
        Feminismo consciente</a>
      </li>
      <li>
        <a href="/uni/espiritualidad/">
        <i class="fa fa-sun-o"></i>
        Espiritualidad</a>
      </li>
      <li>
        <a href="/uni/contracultura/">
        <i class="fa fa-fire"></i>
        Contracultura</a>
      </li>
      <li>
        <a href="/uni/psiconautica/">
        <i class="fa fa-compass"></i>
        Psiconautica</a>
      </li>
      <li>
        <a href="/uni/politica/">
        <i class="fa fa-street-view"></i>
        Politica</a>
      </li>
      <li>
        <a href="/uni/ciencia/">
        <i class="fa fa-flask"></i>
        Ciencia</a>
      </li>
      <li>
        <a href="/uni/naturaleza/">
        <i class="fa fa-leaf"></i>
        Naturaleza</a>
      </li>
    </ul>
    <ul>
      <li><h3>Encontrarnos en</h3></li>
      <li><a target="_blank" href="https://www.facebook.com/americasetrama/"><i class="fa fa-facebook-official"></i> Facebook</a></li>
      <li><a target="_blank" href="https://t.me/amatrama"><i class="fa fa-telegram"></i> Telegram</a></li>
      <li><a target="_blank" href="https://github.com/ama-trama/"><i class="fa fa-github"></i> Github</a></li>
    </ul>
  </div>

  <hr>

  <p class="bahiana">Lo que eres basicamente, muy en lo profundo y distante,
es simplemente el tejido y la estructura de la existencia misma.</p>
</footer>