<div class="controls">
  <button type="button" class="ui button compact large {{include.color-class}} " data-filter="all">
  <i class="fa fa fa-refresh"></i>
  <span> Todo </span>
  </button>
  <button type="button" class="ui button compact large {{include.color-class}} trama-videoesfera" data-filter=".trama-videoesfera">
  <i class="fa fa fa-youtube-play"></i>
  <span> Videoesfera</span>
  </button>
  <button type="button" class="ui button compact large {{include.color-class}} trama-articulo" data-filter=".trama-articulo">
  <i class="fa fa fa-file-text-o"></i>
  <span> Articulos</span>
  </button>
  <button type="button" class="ui button compact large" data-sort="published-date:desc">
  <i class="fa fa-chevron-down"></i>
  <span> Descendente</span>
  </button>
  <button type="button" class="ui button compact large" data-sort="published-date:asc">
  <i class="fa fa-chevron-up"></i>
  <span> Ascendente</span>
  </button>
  <button type="button" class="ui button compact large" data-sort="random">
  <i class="fa fa-random"></i>
  <span>Aleatorio</span>
  </button>
</div>