<div class="top-bar">
	{% include logo.html %}
	<button type="button" class="bahiana js-menu-trigger sliding-panel-button" style="background: none; border: none; font-size: 50px; transform: rotate(90deg);">
       III
    </button>
	<nav>
    <a href="/uni/tramas/"><i class="fa fa-sitemap"></i> explorar tramas</a>
	</nav>

<div class="nav-social">
  
<a target="_blank" href="https://www.facebook.com/americasetrama/"><i class="fa fa-facebook-official"></i></a>
<a target="_blank" href="https://t.me/amatrama"><i class="fa fa-telegram"></i></a>
<a target="_blank" href="https://github.com/ama-trama/"><i class="fa fa-github"></i></a>
</div>

  
</div>