aside {
	position: fixed;
	left: 0;
	background: #f9f9f9;
	width: 270px;
	top: 60px;
	bottom: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	z-index: 99;

	@include media($ipad) {
		left: -270px;
	}

	&.is-visible {
		left: 0 !important;
	}

	.menu {
		padding-top: 70px !important;
		width: 100% !important;
		height: 100%;

		a {
			font-family: $headerFont;
			text-transform: uppercase !important;
			font-weight: 600;
			font-size: 16px;
		    width: 100% !important;
		    border-right-width: 4px !important;
		}
	}
}