@import 'plugins/semantic-ui/semantic-ui';
@import 'plugins/bourbon/bourbon';
@import 'plugins/neat/neat';
@import 'plugins/owl/owl.carousel';
@import 'plugins/owl/owl.theme';
@import 'plugins/owl/owl.transitions';


@import 'base/font-face';
@import 'base/scaffold';
@import 'base/variables';

@import 'modules/footer';
@import 'modules/featured-content';
@import 'modules/top-bar';
@import 'modules/sidebar';
@import 'modules/logo';

@import 'components/video-wrapper';
@import 'components/mixitup';
@import 'components/off-canvas';
@import 'components/progress-bar';


@import 'layouts/default';
@import 'layouts/category';
@import 'layouts/post';
@import 'layouts/search';

.web-soon {
	position: fixed;
	bottom: 0;
	right: 0;
	text-transform: uppercase;
	font-family: "Space Mono", monospace;
	font-weight: 600;
	background: #fff;
	padding: 5px;

}


















