---
layout: default
---

{% if page.type contains 'articulo' %}
<div class="KW_progressContainer">
  <div class="KW_progressBar trama-{{page.categories}}">

  </div>
</div>
<script>
  $(window).load(function(){
  $(window).scroll(function() {
    var wintop = $(window).scrollTop(), docheight = $('article').height(), winheight = $(window).height();
    console.log(wintop);
    var totalScroll = (wintop/(docheight-winheight))*100;
    console.log("total scroll" + totalScroll);
    $(".KW_progressBar").css("width",totalScroll+"%");
  });

});
</script>
{% endif %}




<div class="post-page">
  <a href="javascript:history.back()" style="margin-left: 20px;" class="ui button compact small"><i class="fa fa-angle-left"></i> Volver</a>
  <button type="button" class="ui button black compact small js-menu-trigger sliding-panel-button">
    colapsar
    </button>


  <aside class="js-menu sliding-panel-content">
    <div class="ui secondary vertical pointing menu">
    <a class="item" href="/uni/feminismo-consciente/">
      <i class="fa fa-venus-mars"></i>
       Feminismo consciente
    </a>
      <a class="item" href="/uni/espiritualidad/">
        <i class="fa fa-sun-o"></i>
        espiritualidad
      </a>
      <a class="item" href="/uni/contracultura/">
        <i class="fa fa-fire"></i>
        contracultura
      </a>
      <a class="item" href="/uni/psiconautica/">
        <i class="fa fa-compass"></i>
        psiconautica
      </a>
      <a class="item" href="/uni/politica/">
        <i class="fa fa-street-view"></i>
        politica
      </a>
      <a class="item" href="/uni/ciencia/">
        <i class="fa fa-flask"></i>
        ciencia
      </a>
      <a class="item" href="/uni/naturaleza/">
        <i class="fa fa-leaf"></i>
        naturaleza
      </a>
    </div>
  {% include search-form.html %}
    
  </aside>

  <section class="post trama-{{page.categories}}">
  	<div class="page-meta" style="text-align: center; margin-bottom: 15px; color: #999 !important;">
      
  		
  		<div class="source mono-space" style="margin-bottom: 8px;">
  			via <a href="{{page.author_url}}" target="_blank">{{page.author}}</a> / 
        <time datetime="{{ page.date | %Y-%m-%d %H:%M+01:00 }}">
        {% assign m = post.date | date: "%-m" %}
        {% case m %}
         {% when '1' %}Ene
         {% when '2' %}Feb
         {% when '3' %}Mar
         {% when '4' %}Abr
         {% when '5' %}May
         {% when '6' %}Jun
         {% when '7' %}Jul
         {% when '8' %}Ago
         {% when '9' %}Sep
         {% when '10' %}Oct
         {% when '11' %}Nov
         {% when '12' %}Dic
        {% endcase %}
        {{ post.date | date: "%Y" }}
        </time>
  		</div>
      <b class="duration mono-space">
          {{page.duration}}
          {% if page.type contains 'articulo' %}
              de lectura
          {% else %}
              de video
          {% endif %}
      </b>
  	</div>

  	<h3 class="mono-space" style="text-align: center; margin-bottom: 25px;">{{page.title}}</h3>
  	<article>

      {% if page.type contains 'articulo' %}
          {{content}}
      {% else %}
          <div class="video">
            <div class="video-wrapper">
                <iframe src="{{page.source}}" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          {{content}}
      {% endif %}

      {% include disqus.html %}
  	</article>

  </section>

  <div class="home-post">
    <div class="container">
    {% if page.category == 'espiritualidad' %}
   	<h2 class="mono-space" style="width: 100%; text-align: center;">trama espiritualidad</h2>
   	{% include category-list.html category='espiritualidad' %}
    {% endif %}
    {% if page.category == 'contracultura' %}
    	<h2 class="mono-space" style="width: 100%; text-align: center;">trama contracultural</h2>
    	{% include category-list.html category='contracultura' %}
    {% endif %}
    {% if page.category == 'psiconautica' %}
    	<h2 class="mono-space" style="width: 100%; text-align: center;">trama psiconautica</h2>
    	{% include category-list.html category='psiconautica' %}
    {% endif %}
    {% if page.category == 'politica' %}
    	<h2 class="mono-space" style="width: 100%; text-align: center;">trama politica</h2>
    	{% include category-list.html category='politica' %}
    {% endif %}
    {% if page.category == 'ciencia' %}
   	<h2 class="mono-space" style="width: 100%; text-align: center;">trama cientifica</h2>
   	{% include category-list.html category='ciencia' %}
    {% endif %}
    {% if page.category == 'naturaleza' %}
    	<h2 class="mono-space" style="width: 100%; text-align: center;">trama natural</h2>
    	{% include category-list.html category='naturaleza' %}
    {% endif %}
    </div>
  </div>

</div>



