@font-face {
  font-family: 'Icons';
  src: url("/uni/fonts/icons/icons.eot");
  src: url("/uni/fonts/icons/icons.eot?#iefix") format('embedded-opentype'), url("/uni/fonts/icons/icons.woff2") format('woff2'), url("/uni/fonts/icons/icons.woff") format('woff'), url("/uni/fonts/icons/icons.ttf") format('truetype'), url("/uni/fonts/icons/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}

@import url('https://fonts.googleapis.com/css?family=Bahiana');

.bahiana {
  font-family: 'Bahiana', cursive;
  font-weight: 400;
}

.mono-space {
  font-family: 'Space Mono', monospace;
  font-variant-ligatures: none;
}